.home-container {
    min-height: 100vh;
    background: url('../assets/bg.jpg') no-repeat center center fixed;

    background-size: cover;
    
  }
  
  .logo {
    width: 150px;
    margin-bottom: 20px;

 border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }